*{
  padding:0;
  margin:0px;
  box-sizing: border-box;
}
body{
  width:100vw;
  height: 100vh;
  display:grid;
  place-items:center;
   background-image: url(images/rainy.jpg);
  background-repeat: no-repeat; 
  background-size: 100%; 
  
   background-color: black; 
}


#convert {
  background-color: #bba768;
}
#convert:hover {
  background-color: #bcc768;
}
h1 {
  font-family: sans-serif;
  color: red;
}
input {
  display: block;
  padding: 10px;
  margin-top: 10px;
  font-size: 2em;
  color: #f4a55a;
  font-family: cursive, sans-serif;
}
::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
:-ms-input-placeholder {  
   color: #ccc;  
}
button {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #545454;
}

.overlay-text
{
    height: 400px;
    width:700px;
    font-family: "Averia Libre",system-ui;
    /* padding:10px; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 18px;
    text-align:center;
}

.overlay-text {
    /* position: absolute;
    bottom: 150px;
    right: 150px; */
    background-color: rgba(255, 255, 255, 0.5);  
    /* background-color: aqua; */
    padding: 5px;
    font-size: 14px;
}

.inside-text{
  /* margin-left: 25%; */
  margin-right: auto;
  text-align:center;
}

input{
  margin-left: 130px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading{
  margin-top: 20px;
}